@import "../scss-variables.scss";

.button2 {
  border: 1px solid $primaryBackgroundColor;
  text-align: center;
  background-color: $primaryBackgroundColor;
  color: white;
  border-radius: 22px;
  cursor: pointer;
  padding: clamp(0.1px, 2vh, 3px) clamp(1px, 1vw, 100px); /* padding-ul va fi întotdeauna între 10px și 50px, dar se va ajusta în funcție de 2% din lățimea viewport-ului */
}

.font-size {
  font-size: clamp(3px, 0.7vw, 20px);
}
