<header class="container-desktop">
  <img class="logo-image-desktop" src="assets/Logo.png" />
  <div class="action-buttons-container">
    <button class="primary-button">{{ HeaderButtons[0] }}</button>
    <button class="primary-button">{{ HeaderButtons[1] }}</button>
    <div class="dropdown">
      <div class="courses-button-and-triangle">
        <button class="dropdown-button primary-button">
          {{ HeaderButtons[2] }}
        </button>
        <img src="assets/Triangle.png" alt="triangle" class="triangle-icon" />
      </div>
      <div class="dropdown-content">
        <button class="primary-button" *ngFor="let course of courses">
          {{ course }}
        </button>
      </div>
    </div>

    <button class="primary-button">{{ HeaderButtons[3] }}</button>
    <button class="primary-button">{{ HeaderButtons[4] }}</button>
    <button class="primary-button">{{ HeaderButtons[5] }}</button>
  </div>

  <div class="authentication-buttons-container">
    <button class="primary-button">{{ HeaderButtons[6] }}</button>
    <button class="primary-button">{{ HeaderButtons[7] }}</button>
  </div>
</header>

<header class="container-mobile">
  <div class="header-wrapper-mobile">
    <img class="logo-image-mobile" src="assets/Logo.png" />
    <div class="dropdown-mobile">
      <img
        class="dropbtn-mobile"
        src="assets/Dropdown-Icon.svg"
        (click)="toggleDropdown()"
      />
    </div>
  </div>
  <div class="dropdown-content-mobile" [class.show]="showDropDown">
    <button class="primary-button mobile-button">
      {{ HeaderButtons[0] }}
    </button>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[1] }}
    </button>
    <div class="courses-container-mobile">
      <button class="primary-button mobile-button" (click)="toggleCourses()">
        {{ HeaderButtons[2] }}
      </button>
      <div class="courses-mobile" [class.show]="showCourses">
        <button
          class="primary-button course-mobile-button"
          *ngFor="let course of courses"
        >
          {{ course }}
        </button>
      </div>
    </div>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[3] }}
    </button>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[4] }}
    </button>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[5] }}
    </button>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[6] }}
    </button>
    <button class="primary-button mobile-button">
      {{ HeaderButtons[7] }}
    </button>
  </div>
</header>
