$primaryBackgroundColor: #4f5dc6;
$secondaryBackgroundColor: #030a33a9;
$ballBackgroundColor: yellow;

$verySmallFontSize: 6px;
$smallFontSize: 10px;
$mediumFontSize: 14px;
$largeFontSize: 20px;

$buttonVerySmallFontSize: 4px;
$buttonSmallFontSize: 7px;
$buttonMediumFontSize: 10px;
$buttonLargeFontSize: 12px;
